<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zeinab.menu2">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/network"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".First" />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowInstructions"
            android:label="@string/title_activity_show_standards"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowStandards"
            android:label="@string/title_activity_show_standards"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewImage"
            android:label="view image"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListInstructions"
            android:label="Instruction list"
            android:theme="@style/AppTheme.NoActionBar" />
        >
        <activity
            android:name=".InstructionList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Search" />
        <activity
            android:name=".ListStandards"
            android:label="Instruction list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".About" />
        <activity
            android:name=".CreateProject"
            android:label="@string/title_activity_create_project"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".project.ObserverList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DesignerList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OwnerList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContractorList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProjectList"
            android:label="ProjectList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowProject"
            android:label="@string/title_activity_show_project"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddDesigner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddOwner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddObserver"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddContractor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProject"
            android:label="@string/title_activity_edit_project"
            android:theme="@style/AppTheme.NoActionBar"></activity>
‍‍
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".listVisits" />
        <activity android:name=".ShowVisit" />
        <activity android:name=".gallery"></activity>
        <activity
            android:name=".createVisit"
            android:theme="@style/AppTheme.NoActionBar" />


    </application>

</manifest>